<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>视频监控</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href=".././layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href=".././layuiadmin/style/admin.css" media="all">
</head>
<body>
    <div class="layui-row" style="">
        <div style="text-align: center">
            <h2>四川科技职业学院-食堂</h2>
            <h2>2019-11-25-星期一</h2>
            <h2>08.30.00</h2>
            <video width="800" height="500" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                <source src="movie.webm" type="video/webm">
                您的浏览器不支持 video 标签。
            </video>
        </div>
    </div>


</body>
</html>
